* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
}

input,
textarea,
[contenteditable="true"] {
    user-select: text !important;
    -webkit-touch-callout: default !important;
}